/*
  # modules/grid.sass
  gridに揃えるためのクラスを定義  
  prefixはなし
  */


/*
  # body
  デフォルトのline-heightを_vars.sassから読込
  */

body
  line-height: $base-line-height

/*
  # heading
  headerのh1以外は1行分のmargin-bottomを設定  
  セクションエレメンツの最初のh1はbase-spacing
  */

h1, h2, h3, h4, h5, h6 
  line-height: $heading-line-height
  margin-bottom: $base-spacing

header[id] > h1, footer[id] > h1,
section[id] > h1, article[id] > h1
  margin-bottom: $base-spacing

/*
  # section elements
  margin-bottomに1行分のスペースを追加
  */

header, footer, section, article
  margin-bottom: $base-spacing

/*
  # paragraph
  line-heightを2/3に設定  
  1行分のmargin-bottomを設定
  */

p
  line-height: $small-line-height
  margin-bottom: $base-spacing

/*
  # small
  smallのline-heightを設定 
  */

small
  line-height: $small-line-height

/*
  # table
  line-heightはpと同じ高さ  
  最後にmargin-bottomを1行分設定  
  th, tdには上下paddingを加える  
  borderを加えるとheightがずれるため  
  before, afterでpxを調整
  */

/*
  # table
  line-heightはpと同じ高さ  
  最後にmargin-bottomを1行分設定  
  th, tdには上下paddingを加える  
  borderを加えるとheightがずれるため  
  before, afterでpxを調整
  */

table
  margin-bottom: $base-spacing

th, td
  line-height: $small-line-height
  padding-top: $small-spacing
  padding-bottom: $small-spacing - 0.1rem

tr:last-child > td
  padding-bottom: $small-spacing - 0.2rem

/*
  # form
  formタグが隙間ができるためline-heightを0  
  input, select, buttonにheightを設定  
  select[multiple], textareaに4行分のheightを設定  
  */

form
  line-height: 0
  margin-bottom: $base-spacing

input, select, button
  height: $heading-line-height

select[multiple], textarea
  line-height: $small-line-height
  height: $small-line-height * 4

/*
  # Description List
  marginを設定  
  line-heightを設定
  */

dl
  margin-bottom: $base-spacing * 2

dt
  line-height: $base-line-height

dd > p
  margin-top: $small-spacing / 2
  margin-bottom: $small-spacing / 2
