/*
  # modules/grid.sass
  gridに揃えるためのクラスを定義  
  prefixはなし
  */


/*
  # body
  デフォルトのline-heightを_vars.sassから読込
  */

body
  line-height: $base-line-height

/*
  # heading
  headerのh1以外は1行分のmargin-bottomを設定
  */

h1, h2, h3, h4, h5, h6 
  line-height: $heading-line-height
  margin-bottom: $base-spacing

header > h1:first-child
  margin-bottom: 0

/*
  # paragraph
  line-heightを2/3に設定
  1行分のmargin-bottomを設定
  */

p
  line-height: $small-line-height
  margin-bottom: $base-spacing

/*
  # table
  line-heightはpと同じ高さ  
  最後にmargin-bottomを1行分設定  
  th, tdには上下paddingを加える  
  borderを加えるとheightがずれるため  
  before, afterでpxを調整
  */

table
  line-height: $small-line-height
  margin-bottom: $base-spacing

th, td
  padding-top: $small-spacing
  padding-bottom: $small-spacing

th::before, td::before, th::after, td::after
  content: ''

th::before
  vertical-align: -3px

th::after
  vertical-align: 5px

td::before
  vertical-align: -3px

td::after
  vertical-align: 6px
