/*
  # modules/grid.sass
  gridに揃えるためのクラスを定義
  */


/*
  # body
  */

body
  line-height: $base-line-height

/*
  # heading
  1行分のmargin-bottomを設定
  */

h1, h2, h3, h4, h5, h6 
  line-height: $heading-line-height
  margin-bottom: $base-spacing

/*
  # paragraph
  line-heightを2/3に設定
  1行分のmargin-bottomを設定
  */

p
  line-height: $base-line-height / 3 * 2
  margin-bottom: $base-spacing
