/*
  # config.sass
  各ライブラリ用の環境設定 
  */

/*
  # sass
  sassのwarningを抑制
  */

$disable-warnings: true

/*
  # bourbon
  sassのwarningを抑制
  */

$em-base: 10px

/*
  # neat
  sassのwarningを抑制
  */

$max-width: 960px
$visual-grid: true
$visual-grid-color: #EEE
$visual-grid-index: back
$visual-grid-opacity: 0.4

/*
  # font-awesome
  fontawesomeの設定
  */

$fa-font-path: '/sass/vendor/font-awesome/fonts'
