/*
  # themes/TwoColumn.sass
  // 色,文字サイズなどアピアランスに関するクラスを定義
  // layouts/TwoColumn.sassと対となる
  // prefixには`t-TwoColumn'
  */

// # article[id] > h1
// font-sizeをconfig/types.sassから読込 

.t-TwoColumn
  article[id] > h1
    font-size: $heading-font-size
    line-height: $heading-line-height

// # header
// 色と文字色を設定

  header
    color: white
    background-color: rgba(#192c4b, 0.95)

// # footer
// 色と文字色を設定

  footer
    text-align: center
    border-top: 1px solid $corp-color

// # footer
// 背景色を設定

  aside
    background-color: $gray-lighter
