/*
  # themes/TwoColumn.sass
  // 色,文字サイズなどアピアランスに関するクラスを定義
  // layouts/TwoColumn.sassと対となる
  // prefixには`t-TwoColumn'
  */

.t-TwoColumn

  // # header
  // 色と文字色を設定

  header
    color: white
    background-color: rgba($corp-color, 0.95)
    box-shadow: 0 0px 5px 0 rgba($corp-color, 0.5)

  // # footer
  // 色と文字色を設定

  footer
    font-size: $small-font-size
    border-top: 1px solid $base-border-color
    background-color: white

  // # footer
  // 背景色を設定

  aside
    color: white
    background-color: $corp-color-secondary
    border-right: 1px solid black
    a
      color: lighten($base-color-link, 20%)
